body {
  /* @note don't use overflow:hidden on body. It hides everything in Servo.
  Instead, we set overflow:hidden on #container */
  background: #222;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  background: #222;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.particle {
  background: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  transition: left 31ms linear, top 31ms linear,
}
